* {
    text-transform: none !important;
}

/* Βασικές Ρυθμίσεις Σώματος */
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
    background-color: #f8f8f8;
}

/* Header Ρυθμίσεις */
header {
    height: 70px;
}

.header {
    overflow: visible;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1500 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: black;
    height: 70px;
    font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
}

.head_left,
.head_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
}

#h_logo {
    height: 5vw; /* Responsive logo height */
    max-height: 50px;
    padding: 22px 15px 20px 10px;
}
#h_name {
    padding: 20px 15px 20px 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    color: #26890d;
    text-shadow: 2px 1px 2px #185705;
}
/* Ρυθμίσεις Πλοήγησης */
.nav-toggle{
    display: none;
}
.nav_bar, 
.head_left{
    height: 70px;
    position: relative;
    left: 10px;
}

.nav_bar {
    max-height: 70px;
    display: flex;
    align-items: center;
    white-space: wrap;
    max-width: 100%; /* Set a maximum width for responsive navigation */
    padding: 0;
}

.nav_l,
.head_left_l {
    width: 100%;
    height: 100%;
    display: inline-flex;
    overflow: auto;
    cursor: pointer;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

.nav_bar a,
.head_left a{
    height: inherit;
}

.nav_l li{
    margin-top: -1.5px;
    text-align: center;
    font-size: 16px; 
    padding: 15px 10px;
    float: left;
}

.nav_l a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: inherit;
    position: relative; /* Needed for the box-shadow effect */
}

.nav_l #current{
    color: #2cb709;
}

.nav_l a:hover {
    box-shadow: inset 0 -4.5px 0 0 #2cb709;
    color: #2cb709;
}

.nav_l a li{
    transition: all 0.3s;
}

/* Ρυθμίσεις Χρήστη */
.user {
    margin: 15px 15px 10px 0;
    position: relative;
    z-index: 1600;
}


#us_menu {
    background-color: black;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    padding: 6px;
    z-index: 1601;
    transition-duration: 0.3s;
}

#us_menu:hover {
    background-color: rgb(26, 26, 26);
}

.us_opt {
    border-radius: 5px;
    position: absolute;
    display: block;
    padding: 5px;
    top: 100%;
    right: 0;
    background-color: grey;
    pointer-events: none;
    opacity: 0;
    z-index: 1602;
    transition-duration: 0.3s;
}

.us_opt a {
    display: block;
    padding: 5px;
    font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition-duration: 0.3s;
}

.us_opt a:hover {
    background-color: rgb(167, 165, 165);
}

.user:hover .us_opt {
    pointer-events: auto;
    opacity: 1;
}

#us_icon {
    background-color: transparent;
    height: 3.2vw; /* Responsive height for the icon */
    max-height: 31px; /* Set a maximum height */
}

@media (max-width: 1200px) {

    .nav_l li{
        font-size: 15px; /* Responsive font size */
    }
}

@media (max-width: 768px) {
    #h_logo {
        height: 8vw; /* Adjust logo size */
    }

    .nav_l li {
        padding: 1vh 0.5vw; /* Smaller padding */
        font-size: 3vw; /* Larger font size for readability */
    }

    .nav_bar {
        flex-wrap: wrap; /* Wrap links to fit smaller screens */
    }
}

/* Κύριο Περιεχόμενο */
.main_cont {
    max-width: 100%;
}

/* display flex */
.main_cont,
.f_cont,
.form,
.box,
.act_cont,
.acts,
.b_el {
    display: flex;
    justify-content: center;
}

/* Ρυθμίσεις Φόρμας */
.f_cont,
.box,
.box li,
.table {
    width: 100%;
}

.f_cont {
    position: relative;
}

.form {
    width: 80%;
    justify-items: center;
}

.box {
    padding: 25px 25px 75px 25px;
    flex-wrap: wrap;
    flex-direction: column;
    list-style: none;
    text-align: justify;
    box-shadow: 1px 1px 5px rgb(162, 162, 162);
}

.box,
.table_cont,
.table {
    border-radius: 5px;
    background-color: white;
}

/* Επικεφαλίδα Φόρμας */
.fh_cont {
    position: relative;
    padding: 25px 0 50px 0;
}

.f_head {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.f_body {
    line-height: 2;
}

/* Ρυθμίσεις Πίνακα */
.table_cont {
    margin: 0 30px;
    box-shadow: 1px 1px 4px 2px rgba(211, 211, 211, 0.615);
    overflow: auto;
}

.table {
    border-collapse: collapse;
}

.table tr {
    border-bottom: 2px solid rgba(211, 211, 211);
    transition: all 0.3s;
}

table th,
.table td {
    font-size: 16px;
    padding: 10px 30px;
    text-align: left;
}

.table thead {
    border: none;
    line-height: 2.75;
}

.table tbody tr:hover {
    background-color: #e8e8e8e3;
}
